.container {
    margin: 0% auto;
    position: relative;
    overflow: auto;
    border: 1px solid #dddddd;
    width: 1200px; /*slightly bigger ipad width*/
    *border-collapse: collapse;
    /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;*/
            
    background-color: #FFFFFF;
    padding-left: 10px;
}

.encoded {
    float: left;
    width: 45%;
    max-height: 800px;
    overflow-y: scroll;
}

.decoded {
    float: left;
    width: 45%;
    max-height: 800px;
    margin-left: 30px;
    overflow-y: scroll;
}

.shift {
    clear: both;
}

body {
    background-color: #123456;
}

.ptitle {
    font-size: 1.1em;
}

.pshift {
    font-size: 1.1em;
}
