// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-thumbnail {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
