<%= form_for @user, html: {role: "form"} do |f| %>
    <% if @user.errors.any? %>
        <div class="bg-warning">
            <ul>
                <% for message in @user.errors.full_messages %>
                    <li> <%= message %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label :name %> <br>
        <%= f.text_field :name, class: "form-control", 
            placeholder:"John Smith" %>
    </div>
    <div class="form-group">
        <%= f.label :username %> <br>
        <%= f.text_field :username, class: "form-control", 
            placeholder:"johnsmith123" 
        %>
        <%= f.label :email %> <br>
        <%= f.text_field :email, class: "form-control", 
            placeholder:"john@smith.com" 
        %>
    </div>
    <div class="form-group">
        <%= f.label :password %> <br>
        <%= f.password_field :password, class: "form-control", 
            placeholder:"Enter your password" 
        %>
        <%= f.label :password_confirmation %> <br>
        <%= f.password_field :password_confirmation, class: "form-control", 
            placeholder:"Confirm your password" 
        %>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
<% end %>
