<div class="jumbotron">
    <h2>User information and statistics</h4>
    
    <p><span>Name:</span> <span><%= @user.name %></span></p>
    <p><span>E-Mail:</span> <span><%= @user.email %></span></p>
    <p>
        <span>Number of images uploaded:</span> <span><%= @user.images.length %></span><br>
        <span>Number of image versions:</span> <span><%= @user.image_versions.length %></span>
    </p>
</div>
