<div class="modal fade" id="filter_modal" tabindex="1" role="dialog" 
  aria-labelledby="#filter_modal" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="upload_modal_title">
                    Add Filter
                </h4>
            </div>

            <div class="modal-body">
                <div id="image_section">
                </div>

                <%#
                NOTE: DO NOT USE GAMMA, IT BREAKS EVERYTHING. Also sharpen
                doesn't exist for some reason in our version of CamanJS.
                %>
                <% filterVals=["brightness" , "contrast", "saturation",
                    "vibrance","hue", "exposure","sepia", "noise",
                    "clip"] %>
                <div id="filters">
                <% filterVals.each do |filterval|  %>
                    <label for="<%= filterval %>"><%= filterval %></label>
                    <input type="range" id="<%= filterval %>Range" 
                      name="<%= filterval %>" min="0" max="100" value="0"
                      onChange="filter.refresh()">
                <% end %>
                </div>

                <%= form_tag({controller: "image", action: "edit"}, :id => "filter_form") do %>
                    <input id="filter_data" name="filtered_image" type="hidden"
                      value="">
                    <input id="im_id" name="image_id" type="hidden" value="">
                <% end %>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="filterbutton">
                    Filter
                </button>
                <button type="button" class="btn btn-default" id="reset">
                    Reset
                </button>
                <button type="button" class="btn btn-success" id="save_filter">
                    Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    Caman.DEBUG = true;

    //This is the section that handles the filters
    
    /*
    We use a filter object, as this eases things SIGNIFICANTLY. Based on
    http://tutorialzine.com/2013/02/instagram-filter-app/
    */
    var filter = filter || (function() {
        "use strict";
        var original = null, filtering = false, image_id = null;

        return {
            prepare : function(img) {
                /*
                We create a canvas with the image, which will remain
                constant. Whenever we want to filter, we clone the original
                canvas, so that any filters are applied to the clone and
                the original is untouched. If we didn't do this, each filter
                run would be applied on top of the previous filter, and the
                image quickly becomes a mess.

                `img` must be a standard DOM element, not a jQuery wrapped
                element, or creating the canvas will fail.

                NOTE: `original` is a basic DOM element, NOT a jQuery wrapped
                element, so we don't need to do anything special when accessing 
                it. To clone it, we'll need to use jQuery.
                */

                original = document.createElement("canvas");
                original.width = img.width;
                original.height = img.height;
                original.getContext("2d").drawImage(img, 0, 0);
                $(original).addClass("img-thumbnail");

                console.log(original);
                console.log(img);

                this.set_canvas(original);
            },

            refresh : function() {
                // prevent double filtering if someone is mashing buttons,
                // and prevent filtering if no original is created yet
                if (filtering || original === null)
                {
                    console.log("Filtering: %s", filtering);
                    console.log(original);
                    return;
                }

                var clone = filter.get_canvas_clone();

                Caman(clone[0], function() {
                    // toggle filtering
                    filtering = true;

                    // set values to those in the sliders
                    <% filterVals.each do |filterval|  %>
                        var val = $("#<%= filterval %>Range").val();

                        if (val != 0) {
                            this.<%= filterval %>(val);
                        }
                    <% end %>

                    // render with new settings
                    this.render(function() {
                        // This function is called when the render is finished
                        filter.set_canvas(clone);
                        
                        filtering = false;
                    });
                });
            },

            load_image_data : function(jsondata) {
                var ver = jsondata.specified_version;
                var img = document.createElement('img');
                img.src = ver.location;
                $(img).addClass("img-thumbnail");

                filter.prepare(img);
                filter.set_image_id(jsondata.image_id);
            },

            get_canvas_clone : function() {
                if (original === null) {
                    return null;
                }

                var clone = $(original).clone();
                clone[0].getContext('2d').drawImage(original, 0, 0);

                return clone;
            },

            set_canvas : function(canvas) {
                $(canvas).removeAttr("style");
                $(canvas).attr("data-caman-hidpi-disabled", "true");

                $("#image_section").html(canvas);
                return $("#image_section")
            },

            reset : function() {
                // Reset just clones the original again and displays it 
                // unfiltered
                var clone = filter.get_canvas_clone();
                filter.set_canvas(clone);
            },

            set_image_id : function(id) {
                image_id = id;

                return image_id;
            },

            get_image_id : function() {
                return image_id;
            }
        };
    }());

    $("#reset").click(function () {
        <% filterVals.each do |filterval| %>
            $("#<%= filterval %>Range").val(0);
        <% end %>

        filter.reset();
    });

    $("#filterbutton").click(function() {
        filter.refresh();
    });

    $("#save_filter").click(function() {
        // Gets image data and submits the hidden form. Only submit if there is
        // data
        canvas = $("#image_section").find("canvas")[0];
        if (canvas === undefined) {
            alert("No canvas in image section to save");
            return;
        }

        var imdata, imid;
        imid = filter.get_image_id();

        if (imid == null) {
            alert("Image ID is not set in filter object. Cannot save");
            return;
        }

        // Now get the image data in base64, and set form values
        imdata = canvas.toDataURL();

        $('#filter_data').val(imdata);
        $('#im_id').val(imid);

        // Submit!
        $("#filter_form").submit();
    });

</script>
