<div class="modal fade" id="share_modal" tabindex="1" role="dialog" 
  aria-labelledby="#upload_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="upload_modal_title">
                    Share Image
                </h4>
            </div>

            <div class="modal-body">
                <div id="share_image"></div>
                <p>Users who you share images with will be able to see all
                    versions of the image
                </p>
                <%= form_tag({controller: "image", action: "share"}) do %>
                    <input type="hidden" id="image_id" name="image_id" value="">
                    <div class="form-group">
                        <%= label_tag "Select users to share with" %>
                        <%= select_tag(:share_users, options_for_select([]), 
                            multiple: true, size: 10, class: "form-control") %>
                    </div>
                    <button type="submit" class="btn btn-primary">Share</button>
                <% end %>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var share = share || (function() {
        "use strict";

        var image_id = null;

        return {
            load_image_data : function(jsondata) {
                var p = document.createElement('p');
                p.innerHTML = '<h4>Sharing ' + jsondata.image_name + '</h4>';
                
                $("#share_image").html(p);

                share.set_image_id(jsondata.image_id);
            },

            load_user_data : function(jsondata) {
                // wipe the existing select field to remove previously loaded
                // users
                var select = $("#share_users");
                select.html("");

                // Populate with new user data
                $.each(jsondata["all"], function(index, user_info) {
                    var uname = user_info[0];
                    var uid = user_info[1];
                    console.log("username: %s, userid: %d", uname, uid);

                    var option = document.createElement('option');
                    option.value = uid;
                    option.innerHTML = uname;

                    select.append(option);
                });
            },

            set_image_id : function(imid) {
                image_id = imid;

                $("#image_id").val(imid);

                return image_id;
            },

            get_image_id : function() {
                return image_id;
            }
        };
    }());

    $("#share_modal").on('show.bs.modal', function(e) {
        $.ajax({
            url: "/users/info",
            success: function(jsondata, status, xhr) {
                console.log(jsondata);
                share.load_user_data(jsondata);
            }
        });
    });

</script>
