<% images.each do |image| %>
    <div>
        <h4><%= image.image_name %></h4>
        <div class="row">
        <% image.versions.each do |version| %>
            <% if (!render_trash && !version.trash) || (render_trash && version.trash) %>
            <div class="col-md-4 image-thumbnail">
                <a
                  id="<%= image_popover_id(image, version) %>" 
                  tabindex="0" 
                  data-toggle="popover" data-trigger="focus" 
                  title="Image Options">
                    <%= image_tag version.image_location, 
                        alt: image.image_name,
                        class: "img-thumbnail" %>
                </a>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
<% end %>
