<div class="panel-group" id="image_accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#image_accordion" href="#collapseMyImages">
                    Images uploaded by me
                </a>
            </h2>
        </div>
        <div id="collapseMyImages" class="panel-collapse collapse in">
            <div class="panel-body">
            <% if @owned_images.length > 0 %>
                <%= render partial: "view", locals: { render_trash: false, 
                                                      images: @owned_images } 
                %>
            <% else %>
                <h3>
                    You have not uploaded any images! Other people may have 
                    shared some with you.
                </h3>
            <% end %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#image_accordion" href="#collapseShared">
                    Shared with me
                </a>
            </h2>
        </div>
        <div id="collapseShared" class="panel-collapse collapse">
            <div class="panel-body">
            <% if @shared_images.length > 0 %>
                <%= render partial: "view", locals: { render_trash: false, 
                                          images: @shared_images } 
                %>
            <% else %>
                <h3>No one has shared anything with you yet</h3>
            <% end %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#image_accordion" href="#collapseTrash">
                    Trash
                </a>
            </h2>
        </div>
        <div id="collapseTrash" class="panel-collapse collapse">
            <div class="panel-body">
            <% if @trashed_images.length > 0 %>
                <%= render partial: "view", locals: { render_trash: true,
                                          images: @trashed_images }
                %>
            <% else %>
                <h3>You have no images in the trash</h3>
            <% end %>
            </div>
        </div>
    </div>
</div>

<% content_for :footer do %>
<%= render partial: "image/filter_modal" %>
<%= render partial: "image/share" %>

<script>
    "use strict";
    var get_image_data = function(image_id, version_id) {
        $.ajax({
            url: "/image/info/" + image_id + "/" + version_id,
            success: function(jsondata, status, xhr) {
                console.log("JSON DATA: " + jsondata);

                share.load_image_data(jsondata);
                filter.load_image_data(jsondata);
            }
        });
    };
    var content = '';
    var options = {};
    <% @user_images.each do |image| %>
        <% image.versions.each do |version| %>
            content = '<ul class="list-unstyled">';
            content += '<li><a href="<%= version.image_location %>">Full</a></li>';
            content += '<li><%= link_to "Delete", version, method: :delete, data: { confirm: "Are you sure?" } %></li>';
            <% if !version.trash %>
                content += '<li><a href="#" data-toggle="modal" data-target="#filter_modal">Filter</a>';
                content += '<li><a href="#" data-toggle="modal" data-target="#share_modal">Share</a></li>';
            <% else %>
                content += '<li><%= link_to "Restore", version, method: :post %></li>';
            <% end %>
            content += '</ul>';

            options = { 
                content: content,
                html: true
            };

            $('#<%= image_popover_id(image, version) %>').popover(options);

            <% if !version.trash %>
                $('#<%= image_popover_id(image, version) %>').click( function() {
                    get_image_data(<%= image.id %>, <%= version.id %>);
                });
            <% end %>
        <% end %>
    <% end %>

    <% @shared_images.each do |image| %>
        <% image.versions.each do |version| %>
            content = '<ul class="list-unstyled">';
            content += '<li><a href="<%= version.image_location %>">Full</a></li>';
            content += '</ul>';
            options = { 
                content: content,
                html: true
            };

            $('#<%= image_popover_id(image, version) %>').popover(options);
        <% end %>
    <% end %>
</script>
<% end %>
