<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Image Majik</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <% if current_user %>
            <li>
                <a href="#" data-toggle="modal" data-target="#upload_modal">
                    Upload
                </a>
            </li>
            <li>
                <%= link_to 'MyImages', controller: 'image', action: 'view' %>
            </li>
            <% end %>
        </ul>

        <% if current_user %>
        <p class="navbar-text navbar-right">
            Logged in as <%= link_to current_user.name, current_user %> (<%= link_to "Logout", logout_path %>)
        </p>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <%= link_to "Log In", login_path %>
            </li>
            <li>
                <%= link_to "Register", register_path %>
            </li>
        </ul>
        <% end %>
    </div>
</nav> <!-- end nav -->
