<div class="modal fade" id="upload_modal" tabindex="1" role="dialog" 
  aria-labelledby="#upload_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="upload_modal_title">
                    Upload Image
                </h4>
            </div>

            <div class="modal-body">
            <%= form_tag({controller: "image", action: "upload"},
              multipart: true) do %>
                <div class="form-group">
                    <%= label_tag 'Select image' %> <br>
                    <%= file_field_tag 'image', 
                      accept: IMAGE_MIME_TYPES.join(',')
                    %>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            <% end %>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
