<!DOCTYPE html>
<html>
<head>
    <title>ImageMajik</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= render partial: "shared/nav" %>

        <div> <!-- begin page data -->
            <!-- Display any notices/flashes/etc -->
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "bg-primary" %>
            <% end %>

            <!-- yield sub layout generated data -->
            <%= yield %>
        </div>

    </div>
    <% if current_user %>
        <%= render partial: "shared/upload_modal" %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :footer %>
</body>
</html>
