<%= form_tag controller: "login", action: "create", method: "post" do %>
    <div class="form-group">
        <%= label_tag :login %> <br>
        <%= text_field_tag :login, nil, class: "form-control", 
            placeholder:"Username or email"
        %>

        <%= label_tag :password %> <br>
        <%= password_field_tag :password, nil, class: "form-control", 
            placeholder:"Enter your password" 
        %>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>

<% end %>
